body{
    margin: 0;
    background-image: url('./images/ghost.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
}
.nav{
    margin: 20px;
}
a{
    text-decoration: none;
    margin: 10px;
}
h1{
    margin-top: 200px;
}
h4{
    margin: 0px;
}
.card{
    background-color: aliceblue;
    color:black;
    padding: 10px;
    margin: 20px;
    width: 500px;
    box-shadow: 0px 0px 20px rgb(248, 207, 207);
}
.text{
    max-height: 100px;
    overflow: hidden;
}
.btn{
    margin-left: 330px;
    background-color: aliceblue;
    border: none;
    cursor: pointer;
}
.time{
    display: flex;
    justify-content: space-around;
    font-size: 10px;
}
.t{
    margin :0;
}
.form-container{
    display: flex;
    flex-direction: column;
    margin: 20px ;
    width: 300px;
    height: 400px;
    background-color: rgb(23, 21, 21);
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 20px whitesmoke;
    border-radius: 2px;
}
#fff{
    margin: 20px 270px 0px 0px;
}
#time,#location,#title{
    padding: 5px;
    text-align: center;
}
#story{
    padding:25px;
    text-align: center;
}
#submit{
    width: 60px;
    padding: 6px 8px;
    text-align: center;
    margin: 20px auto;
}
#last{
    margin: 10px;
}